
<div *ngIf="todos.length > 0;else noTodos" class="d-flex-col">
    <h1 class="text-light">Todos</h1>
    <div class="d-flex  align-items-center">
        <!-- add todo -->
        <div class="d-inline-block m-2 mr-auto">
            <fa-icon class="hover-hightlight" [icon]="faPlusSquare" size="3x"  [styles]="{'color': '#AAEF94'}" (click)="open(content)"></fa-icon>
        </div>
          

        <!-- group by -->
        <div ngbDropdown class="d-inline-block m-2">
            <button class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>Group by</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>Day</button>
            <button ngbDropdownItem>Month</button>
            <button ngbDropdownItem>Group</button>
            </div>
        </div>
        <!-- sort by -->
        <div ngbDropdown class="d-inline-block m-2">
            <button class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>Sort by</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>Alphabetical</button>
            <button ngbDropdownItem>Creation date</button>
            </div>
        </div>
    </div>
    <!-- todos list -->
    <ul>
    <app-todo *ngFor="let todo of todos" [todoInfo]="todo"></app-todo>
    </ul>
</div>

<!-- no todo -->
<ng-template #noTodos>
    <p>
        No todos yet!
    </p>
</ng-template>

<!-- add todo  -->
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add todo</h4>
      <button class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>
    </div>
    <form [formGroup]="AddTodoForm">
      <div class="modal-body">
          <div class="form-group">
              <!-- todo title -->
              <input type="text" formControlName="title" name="title" placeholder="Title" required/>
              <!-- title error handling (interactive)  -->
              <div *ngIf="AddTodoForm.controls.title.errors && AddTodoForm.controls.title.touched">
                <div *ngIf="AddTodoForm.controls.title.errors.required">
                    this field is required!
                </div>
                <div *ngIf="AddTodoForm.controls.title.errors.maxlength">
                    title should be less than 20 letters.
                </div>
              </div>
              <!-- todo body -->
              <input type="text" formControlName="body" name="body" placeholder="Body" required/>
              <!-- title error handling (interactive)  -->
              <div *ngIf="AddTodoForm.controls.body.errors && AddTodoForm.controls.body.touched">
                <div *ngIf="AddTodoForm.controls.body.errors.required">
                    this field is required!
                </div>
                <div *ngIf="AddTodoForm.controls.body.errors.maxlength">
                    title should be less than 200 letters.
                </div>
              </div>
              <!-- todo group  -->
              <select class="form-select" formControlName="group">
                  <option  [value]="null" disabled>Choose group</option>
                  <option *ngFor="let group of groups" [value]="group._id">{{ group.title }}</option>
              </select>

          </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="save btn" (click)="modal.close()" [disabled]="AddTodoForm.status === 'INVALID'">Add</button>
      </div>
    </form>

  </ng-template>
