
h1{
    font-size: 35px;
    font-weight: 500;
}
ul{
    padding: 0px;
    margin: 0px;
}
button.btn{
    background-color: #92cc7f;
    color: #2E2E2E;
    /* box-shadow: 0px 0px 10px black; */
    border: none;
    box-shadow: 1px 2px 5px rgba(0,0,0,.3); 
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}
button.btn:hover{
    color: #AAEF94;
    background-color: #2E2E2E;
}
.hover-hightlight:hover {
    cursor: pointer;
    stroke: white;
    stroke-width: 5px;
    /* box-shadow: 0px 0px 10px black; */
    box-shadow: 1px 2px 5px rgba(255, 255, 255, 0.3); 

}
.modal-header.btn{
    width: 50px;
    background-color: red;
}
button.close{
    width: 10%;
}
button.save{
    width: 30%;
}
select{
    width: 35%;
}
select[multiple]{
    height: 100px;
}
ngb-panel ng-template[ngbPanelHeader]{
    /* color: red;
    text-decoration: none;
    font-weight: 500; */
    color: red !important;
    padding: 0px !important;
}

